@import "../../assets/less/global";

.welcome__item {
  &--action + & {
    margin-top: ~"calc(var(--common-blockGap-vertical) - var(--common-elementGap-vertical))";
  }
}

.welcome__title {
  text-align: center;
}

.welcome__content {
  #common.text-lead();
  text-align: center;
}

.welcome__action {
  text-align: center;

  .btn {
    --base-btn-padding-vertical: 17px;
    --base-btn-padding-horizontal: 32px;

    --base-btn-borderRadius: var(--form-control-borderRadius);

    --base-btn-backgroundColor-base: #95ca52;
    --base-btn-backgroundColor-hover: darken(#95ca52, 10%);

    #common.text-large();
  }
}

.welcome__example {
  display: flex;
  justify-content: center;
}
