<main class="main">
  <section class="scene  welcome">
    <div class="grid  welcome__grid">
      <div class="grid__item  welcome__item">
        <div class="welcome__title">
          <h1>Управлять проектами удобно!</h1>
        </div>
      </div>

      <div class="grid__item  welcome__item">
        <div class="welcome__content">
          Организованность и&nbsp;особое внимание к&nbsp;удобству ведения проектов.<br>
          Не&nbsp;потеряется ни&nbsp;одна задача&nbsp;— полный контроль текущего состояния,<br>
          календарная и&nbsp;техническая визуализация процесса.
        </div>
      </div>

      <div class="grid__item  welcome__item  welcome__item--action">
        <div class="welcome__action">
          <a class="btn" href="#">Бесплатный тестовый период</a>
        </div>
      </div>

      <div class="grid__item  welcome__item">
        <div class="welcome__example">
          <div class="example">
            <img src="/img/example-1@2x.png" width="860" height="462" alt="">

            <div class="bubble  bubble--project">
              Все проекты<br>
              всегда под рукой
            </div>

            <div class="bubble  bubble--people">
              Визуализация<br>
              участников
            </div>
          </div>
        </div>
      </div>

      <div class="grid__item  welcome__item">
        <div class="welcome__example">
          <div class="example">
            <img src="/img/example-2@2x.png" width="860" height="462" alt="">

            <div class="bubble  bubble--management">
              Удобный<br>
              менеджмент<br>
              задач
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="scene  carefree">
    <div class="grid  carefree__grid">
      <div class="grid__item  carefree__item">
        <div class="carefree__title">
          <h2>Не заботьтесь о&nbsp;заботах!</h2>
        </div>
      </div>

      <div class="grid__item  carefree__item">
        <div class="carefree__content">
          Организованность и&nbsp;особое внимание к&nbsp;удобству ведения проектов.<br>
          Не&nbsp;потеряется ни&nbsp;одна задача&nbsp;— полный контроль текущего состояния,<br>
          календарная и&nbsp;техническая визуализация процесса.
        </div>
      </div>

      <div class="grid__item  carefree__item">
        <div class="carefree__example">
          <div class="example">
            <img src="/img/example-2@2x.png" width="860" height="462" alt="">

            <div class="bubble  bubble--feed">
              Лента<br>
              дискуссии
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
