<main class="main">
  <section class="scene  version">
    <div class="grid  version__grid">
      <div class="grid__item  version__item">
        <div class="version__title">
          <h1>Платная или бесплатная?</h1>
        </div>
      </div>

      <div class="grid__item  version__item">
        <div class="version__content">
          В&nbsp;зависимости от&nbsp;ваших задач вы&nbsp;можете определиться, какая версия,<br>
          платная или бесплатная, подойдет именно вам.
        </div>
      </div>
    </div>
  </section>

  <section class="scene  tariff">
    <div class="grid  grid--jordan  tariff__grid">
      <div class="grid__item  tariff__item">
        <div class="card  card--light  tariff__card  tariff__card--paid">
          <div class="tariff__title">
            <h2>Платная</h2>
          </div>

          <div class="tariff__content">
            Коммерческие потребности, большие компании, большая команда, много проектов и&nbsp;задач.
          </div>

          <ul class="tariff__props">
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              Неограниченное кол-во проектов
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              Неограниченное кол-во пользователей
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              Контроль за действиями клиента
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              Персональная техподдержка
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              700 ГБ дискового пространства
            </li>
          </ul>

          <div class="tariff__cost">
            <span class="icon  tariff__icon  tariff__icon--equally">
              <svg viewBox="0 0 18 10" width="18" height="10"><path d="M0 0h18v3H0V0zM0 7h18v3H0V7z"/></svg>
            </span>

            <span class="tariff__price">4999 ₽</span> / месяц
          </div>

          <div class="tariff__action">
            <a class="btn" href="#">Бесплатный тестовый период</a>
          </div>
        </div>
      </div>

      <div class="grid__item  tariff__item">
        <div class="card  card--light  tariff__card  tariff__card--free">
          <div class="tariff__title">
            <h2>Бесплатная</h2>
          </div>

          <div class="tariff__content">
            Частное использование. Студенты, фрилансеры, персональный задачник.
          </div>

          <ul class="tariff__props">
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              5 проектов
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              15 пользователей
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              Техподдержка
            </li>
            <li>
              <span class="icon  tariff__icon  tariff__icon--polygon">
                <svg viewBox="0 0 18 21" width="18" height="21"><path stroke-width="3" d="M1.5 6.112L9 1.737l7.5 4.375v8.776L9 19.263l-7.5-4.375V6.112z"/></svg>
              </span>

              1 ГБ дискового пространства
            </li>
          </ul>

          <div class="tariff__action">
            <a class="btn" href="#">Бесплатная версия</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="scene  period">
    <div class="grid  period__grid">
      <div class="grid__item  period__item">
        <div class="period__title">
          <h2>Бесплатный тестовый период</h2>
        </div>
      </div>

      <div class="grid__item  period__item">
        <div class="period__content">
          Наряду с&nbsp;этим платоновская академия порождает и&nbsp;обеспечивает катарсис, отрицая очевидное.<br>
          Суждение непредсказуемо. Врожденная интуиция подчеркивает неоднозначный смысл жизни.
        </div>
      </div>
    </div>
  </section>

  <section class="scene  tech">
    <div class="grid  tech__grid">
      <div class="grid__item  tech__item">
        <div class="tech__title">
          <h2>Техническая поддержка</h2>
        </div>
      </div>

      <div class="grid__item  tech__item">
        <div class="tech__content">
          Язык образов, следовательно, заполняет трансцендентальный закон внешнего мира, однако<br>
          Зигварт считал критерием истинности необходимость и&nbsp;общезначимость, для которых нет<br>
          никакой опоры в&nbsp;объективном мире. Гедонизм амбивалентно заполняет смысл жизни.
        </div>
      </div>
    </div>
  </section>

  <section class="scene  notebook">
    <div class="grid  notebook__grid">
      <div class="grid__item  notebook__item">
        <div class="notebook__title">
          <h2>Больше никаких блокнотов</h2>
        </div>
      </div>

      <div class="grid__item  notebook__item">
        <div class="notebook__content">
          Язык образов, следовательно, заполняет трансцендентальный закон внешнего мира, однако<br>
          Зигварт считал критерием истинности необходимость и&nbsp;общезначимость, для которых нет<br>
          никакой опоры в&nbsp;объективном мире. Гедонизм амбивалентно заполняет смысл жизни.
        </div>
      </div>

      <div class="grid__item  notebook__item">
        <div class="notebook__media">
          <img src="/img/notebook@2x.png" width="180" height="251" alt="">
        </div>
      </div>
    </div>
  </section>
</main>
