<main class="main">
  <h1 class="visually-hidden">Регистрация</h1>

  <section class="scene  auth">
    <div class="grid  auth__grid">
      <div class="grid__item  auth__item">
        <div class="card  card--light  auth__card">
          <div class="auth__heading">
            <div class="wysiwyg">
              <h2>Приветствуем вас!</h2>

              <p>Для регистрации введите ваше имя, email и&nbsp;пароль (не&nbsp;менее 6&nbsp;символов).</p>
            </div>
          </div>

          <form class="form  auth__form">
            <div class="form__item  form__item--slip  auth__name">
              <div class="form__label">
                <label for="name">Имя</label>
              </div>

              <div class="form__field">
                <div class="form__row">
                  <div class="form__control">
                    <input id="name" class="form__input" type="text" required autofocus>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__item  form__item--slip  auth__email">
              <div class="form__label">
                <label for="email">Email</label>
              </div>

              <div class="form__field">
                <div class="form__row">
                  <div class="form__control">
                    <input id="email" class="form__input" type="email" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__item  form__item--slip  auth__password">
              <div class="form__label">
                <label for="password">Пароль</label>
              </div>

              <div class="form__field">
                <div class="form__row">
                  <div class="form__control">
                    <input id="password" class="form__input" type="password" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__item  auth__captcha">
              <div class="form__label">
                <label for="captcha">Введите символы с&nbsp;картинки</label>
              </div>

              <div class="form__field">
                <div class="form__row">
                  <div class="form__control">
                    <img src="/img/captcha.png" alt="">
                  </div>

                  <div class="form__control">
                    <input id="captcha" class="form__input" type="text" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__item  auth__action">
              <div class="form__field">
                <div class="form__row">
                  <div class="form__control">
                    <button type="submit" class="btn  form__action" disabled>Зарегистрироваться</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="grid__item  auth__item">
        <div class="card  card--light  auth__card">
          <div class="auth__heading">
            <div class="wysiwyg">
              <h2>Добро пожаловать!</h2>

              <p>Ваш аккаунт успешно создан и&nbsp;готов к&nbsp;использованию.</p>
            </div>
          </div>

          <div class="auth__next">
            <a class="btn" href="#">Ок</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
