.header {
  --common-elementBase-maxWidth: 100%;

  --common-blockGap-vertical: var(--common-indent-base);
  --common-blockGap-horizontal: var(--common-indent-large);

  --base-link-color-base: var(--common-baseColor-primary);

  padding-bottom: 0;
  font-weight: bold;

  .btn {
    --base-btn-padding-vertical: 14px;
    --base-btn-padding-horizontal: 25px;

    --base-btn-borderRadius: var(--form-control-borderRadius);

    #common.text-base();
  }
}

.header__login {
  .header__test + & {
    margin-left: ~"calc(var(--common-indent-large) / -2)";
  }

  .btn {
    --base-btn-backgroundColor-base: transparent;
    --base-btn-color-base: var(--common-accentColor-primary);
    --base-btn-borderColor-base: var(--common-accentColor-primary);
  }
}
