@import "../../assets/less/global";

.carefree__title {
  text-align: center;
}

.carefree__content {
  #common.text-large();
  text-align: center;
}

.carefree__example {
  display: flex;
  justify-content: center;
}
