@import "../../assets/less/global";

.tariff__card {
  margin-top: ~"calc(var(--card-padding-vertical) * -1)";
  margin-bottom: ~"calc(var(--card-padding-vertical) * -1)";
  min-height: ~"calc(100% + var(--card-padding-vertical) * 2)";
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  transition-duration: var(--common-animationDuration-primary);
  transition-timing-function: var(--common-animationTimingFunction-primary);
  transition-property: background-color, box-shadow;

  &:hover {
    background-color: var(--common-backgroundColor-light);
    box-shadow: var(--common-boxShadow-primary);
  }
}

.tariff__title {
  margin-bottom: var(--common-indent-base);
}

.tariff__content {
  font-style: italic;
  margin-bottom: var(--common-indent-large);
}

.tariff__props {
  margin-bottom: var(--common-indent-large);

  li {
    display: flex;
    font-weight: bold;

    &:not(:last-child) {
      margin-bottom: var(--common-indent-base);
    }
  }
}

.tariff__cost {
  display: flex;
  margin-bottom: var(--common-indent-large);
}

.tariff__price {
  font-weight: bold;
  transition-duration: var(--common-animationDuration-primary);
  transition-timing-function: var(--common-animationTimingFunction-primary);
  transition-property: color;

  .tariff__card:hover & {
    color: var(--common-accentColor-primary);
  }
}

.tariff__action {
  margin-top: auto;

  .btn {
    --base-btn-padding-vertical: 17px;
    --base-btn-padding-horizontal: 32px;

    --base-btn-borderRadius: var(--form-control-borderRadius);

    #common.text-large();
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
    }

    .tariff__card--paid & {
      --base-btn-backgroundColor-base: #95ca52;
      --base-btn-backgroundColor-hover: darken(#95ca52, 10%);
    }

    .tariff__card--free & {
      --base-btn-backgroundColor-base: transparent;
      --base-btn-color-base: var(--common-accentColor-primary);
      --base-btn-borderColor-base: var(--common-accentColor-primary);
    }
  }
}

.tariff__icon {
  margin-right: var(--common-indent-base);

  svg {
    fill: var(--common-accentColor-primary);
    stroke: var(--common-accentColor-primary);
    transition-duration: var(--common-animationDuration-primary);
    transition-timing-function: var(--common-animationTimingFunction-primary);
    transition-property: fill, stroke;
  }

  &--polygon {
    svg {
      fill: none;
    }
  }

  &--equally {
    svg {
      stroke: none;
    }
  }

  .tariff__card--paid:hover .tariff__props li:nth-child(1) & {
    svg {
      stroke: #06A4FF;
    }
  }

  .tariff__card--paid:hover .tariff__props li:nth-child(2) & {
    svg {
      stroke: #F94300;
    }
  }

  .tariff__card--paid:hover .tariff__props li:nth-child(3) & {
    svg {
      stroke: #5FB91C;
    }
  }

  .tariff__card--paid:hover .tariff__props li:nth-child(4) & {
    svg {
      stroke: #FD9B00;
    }
  }

  .tariff__card--paid:hover .tariff__props li:nth-child(5) & {
    svg {
      stroke: #A64FFE;
    }
  }
}
