@import "../../assets/less/global";

.notebook__title {
  text-align: center;
}

.notebook__content {
  #common.text-large();
  text-align: center;
}

.notebook__media {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    margin-right: -3%;
    margin-bottom: -3%;
  }
}
