#common() {
  .text-base() {
    --common-fontSize-base1: var(--common-fontSize-base);
    --common-lineHeight-base1: var(--common-lineHeight-base);

    font-size: var(--common-fontSize-base1);
    line-height: var(--common-lineHeight-base1);
  }

  .text-middle() {
    --common-fontSize-base: var(--common-fontSize-middle);
    --common-lineHeight-base: var(--common-lineHeight-middle);

    font-size: var(--common-fontSize-base);
    line-height: var(--common-lineHeight-base);
  }

  .text-lead() {
    --common-fontSize-base: var(--common-fontSize-lead);
    --common-lineHeight-base: var(--common-lineHeight-lead);

    font-size: var(--common-fontSize-base);
    line-height: var(--common-lineHeight-base);
  }
}

#base() {
  .btn() {
    #common.text-middle();
    font-weight: bold;

    &[disabled] {
      --base-btn-backgroundColor-base: #cddcee;
    }
  }
}

#form() {
  .el() {
    font-weight: bold;

    .form__item--slip & {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      padding-top: 0;
      min-height: ~"calc(var(--common-lineHeight-base) + var(--form-control-padding-vertical))";
    }
  }
}
