@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --common-fontSize-middle: @common-fontSize-middle;
  --common-lineHeight-middle: @common-lineHeight-middle;

  --common-fontSize-lead: @common-fontSize-lead;
  --common-lineHeight-lead: @common-lineHeight-lead;
}

.common-text-middle {
  #common.text-middle();
}

.common-text-lead {
  #common.text-lead();
}

body {
  background-image: url("/img/auth-bg.png");
  background-size: 100% auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-width: 1200px;
}

.form__item {
  &--slip + &--slip {
    margin-top: ~"calc(var(--form-control-padding-vertical) * -1)";
  }
}

.form__label {
  font-weight: bold;
  color: var(--common-baseColor-secondary);

  .form__item--slip & {
    margin-top: 0;
    transition-property: transform, font-weight;
  }

  .form__item--slippery &,
  .form__item--slip:focus-within & {
    transform: translate3d(0, ~"calc(var(--common-lineHeight-small) / -1)", 0) scale(0.75);
    font-weight: normal;
  }
}

.form__item--slip {
  --form-control-padding-horizontal: 0;

  --form-control-borderRadius: 0;
}

@import "../../components/page/index";
@import "../../components/header/index";
@import "../../components/main/index";
@import "../../components/footer/index";
