@common-fontFamily-primary: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji", "Segoe UI Symbol";

@common-fontSize-base: 1rem;
@common-lineHeight-base: 1.375rem;

@common-fontSize-small: 0.75rem;
@common-lineHeight-small: 1rem;

@common-fontSize-middle: 0.875rem;
@common-lineHeight-middle: 1.125rem;

@common-fontSize-large: 1.25rem;
@common-lineHeight-large: 1.625rem;

@common-fontSize-lead: 1.5rem;
@common-lineHeight-lead: 2rem;

@common-darkColor-primary: #000;
@common-darkColor-secondary: #929292;
@common-darkColor-hint: #929292;
@common-darkColor-divider: #D9D9D9;

@common-accentColor-primary: #5E97EC;

@common-backgroundColor-base: #E5E5E5;
@common-backgroundColor-light: #fff;

@common-boxShadow-primary: 0 0 30px rgba(0, 0, 0, 0.25);

@common-borderRadius-primary: 18px;

@common-elementBase-maxWidth: 992px;

@common-elementGap-vertical: 48px;
@common-elementGap-horizontal: 48px;

@common-blockGap-vertical: 96px;
@common-blockGap-horizontal: 96px;

@base-h1-fontSize: 4.375rem;
@base-h1-lineHeight: 4.5rem;

@base-h2-fontSize: 3.125rem;
@base-h2-lineHeight: 3.5rem;

@base-btn-padding-vertical: 11px;
@base-btn-padding-horizontal: 20px;

@base-btn-borderWidth: 2px;
@base-btn-borderRadius: 20px;

@form-itemGap-vertical: @common-indent-large;

@form-control-padding-horizontal: @form-control-padding-vertical * 1.5;

@form-control-borderRadius: 3px;

@form-control-borderColor-hover: @form-control-borderColor-base;

@form-control-outlineColor-focus: transparent;
