.footer {
  #common.block-base();
  #common.text-small();
  padding-top: 0;
  padding-bottom: var(--common-elementGap-vertical);
  color: var(--common-baseColor-secondary);
}

.footer__grid {
  justify-content: center;
}

.footer__item {
  width: auto;
}
