@import "../../assets/less/global";

.bubble {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &--project {
    #common.text-large();
    width: 218px;
    height: 231px;
    top: 62%;
    left: 88%;
    background-image: url("/img/bubble-1.svg");
    padding-bottom: 10px;
    transform: translate3d(0, -100%, 0);
  }

  &--people {
    width: 151px;
    height: 162px;
    top: 88%;
    right: 80%;
    background-image: url("/img/bubble-2.svg");
    transform: translate3d(100%, -100%, 0);
  }

  &--management {
    width: 151px;
    height: 162px;
    top: 46%;
    left: 75%;
    background-image: url("/img/bubble-3.svg");
    transform: translate3d(0, -100%, 0);
  }

  &--feed {
    #common.text-large();
    width: 166px;
    height: 178px;
    top: 60%;
    left: 90%;
    background-image: url("/img/bubble-4.svg");
    padding-bottom: 10px;
    transform: translate3d(0, -100%, 0);
  }
}
