<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Webcamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="header__grid">
          <div class="header__fold">
            <ul class="header__menu">
              <li><a href="index.html"><img src="/img/logo.svg" width="190" height="34" alt="Webway."></a></li>
            </ul>
          </div>

          <div class="header__collapse">
            <nav class="header__nav">
              <ul class="header__menu">
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Поддержка</a></li>
                <li><a href="price.html">Стоимость</a></li>
                <li class="header__test"><a class="btn" href="#">Тестовый период</a></li>
                <li class="header__login"><a class="btn" href="#">Вход</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      {{content}}

      <footer class="footer">
        <div class="grid  footer__grid">
          <div class="grid__item  footer__item">
            © 2019 - Webway.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
