@import "../../assets/less/global";

.auth {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.auth__card {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: var(--common-boxShadow-primary);
}

.auth__heading {
  display: flex;

  h2 {
    #common.text-large();
  }
}

.auth__form {
  margin-top: var(--common-indent-large);
}

.auth__name,
.auth__email,
.auth__password {
  --form-control-padding-horizontal: 24px;

  .form__input {
    padding-right: 0;
    background-repeat: no-repeat;
    background-position: 0 ~"calc(50% - var(--form-control-padding-vertical) / 2)";
    background-size: 14px 14px;
  }
}

.auth__name {
  @icon: escape('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="@{common-accentColor-primary}"><path fill-rule="evenodd" d="M10.08.93C9.32.23 8.2 0 7 0 5.8 0 4.68.23 3.92.93a2.45 2.45 0 00-.78 1.98v1.01c-.17.23-.28.51-.28.84v.95c0 .6.36 1.04.8 1.27a5.54 5.54 0 00.92 1.4v.54a.3.3 0 01-.12.07l-2.73 1.13A2.64 2.64 0 000 12.52V14h14v-1.48c0-1.12-.75-2-1.73-2.4L9.54 8.99a.3.3 0 01-.11-.07v-.54l.07-.08c.34-.4.63-.84.85-1.32.43-.23.8-.66.8-1.27v-.95c0-.33-.12-.61-.3-.84l.01-1.01v-.17a2.44 2.44 0 00-.78-1.8zM8.43 7.97l.07-.07.24-.25c.35-.4.62-.85.8-1.34l.05-.12.15-.04c.24-.06.4-.24.4-.44v-.95a.43.43 0 00-.19-.34l-.1-.07.01-1.5s.1-.67-.46-1.18C8.92 1.22 8.1 1 7 1c-1.11 0-1.92.22-2.4.67a1.44 1.44 0 00-.46 1.18v1.5l-.1.07c-.11.1-.18.21-.18.34v.95c0 .2.16.38.4.44l.15.04.04.12A4.66 4.66 0 005.5 7.9l.07.06v.97c0 .42-.28.8-.73.98L2.1 11.04c-.49.2-.85.55-1 .96-.08.16-.11.34-.11.52V13h12v-.48c0-.18-.03-.36-.1-.52a1.79 1.79 0 00-1-.96L9.15 9.92c-.45-.19-.73-.56-.73-.98v-.97z" /><path fill-rule="evenodd" d="M10.08.93C9.32.23 8.2 0 7 0 5.8 0 4.68.23 3.92.93a2.45 2.45 0 00-.78 1.98v1.01c-.17.23-.28.51-.28.84v.95c0 .6.36 1.04.8 1.27a5.54 5.54 0 00.92 1.4v.54a.3.3 0 01-.12.07l-2.73 1.13A2.64 2.64 0 000 12.52V14h14v-1.48c0-1.12-.75-2-1.73-2.4L9.54 8.99a.3.3 0 01-.11-.07v-.54l.07-.08c.34-.4.63-.84.85-1.32.43-.23.8-.66.8-1.27v-.95c0-.33-.12-.61-.3-.84l.01-1.01v-.17a2.44 2.44 0 00-.78-1.8zM8.43 7.97l.07-.07.24-.25c.35-.4.62-.85.8-1.34l.05-.12.15-.04c.24-.06.4-.24.4-.44v-.95a.43.43 0 00-.19-.34l-.1-.07.01-1.5s.1-.67-.46-1.18C8.92 1.22 8.1 1 7 1c-1.11 0-1.92.22-2.4.67a1.44 1.44 0 00-.46 1.18v1.5l-.1.07c-.11.1-.18.21-.18.34v.95c0 .2.16.38.4.44l.15.04.04.12A4.66 4.66 0 005.5 7.9l.07.06v.97c0 .42-.28.8-.73.98L2.1 11.04c-.49.2-.85.55-1 .96-.08.16-.11.34-.11.52V13h12v-.48c0-.18-.03-.36-.1-.52a1.79 1.79 0 00-1-.96L9.15 9.92c-.45-.19-.73-.56-.73-.98v-.97z" /></svg>');

  .form__input {
    background-image: url("data:image/svg+xml, @{icon}");
  }
}

.auth__email {
  @icon: escape('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="@{common-accentColor-primary}"><path d="M9.75 3.4h.54l-.8 4.4a5.47 5.47 0 00-.16 1.27c0 .26.04.45.12.57.1.11.26.17.48.17.35 0 .7-.1 1.05-.28.36-.18.67-.44.94-.78a4.61 4.61 0 00.93-2.82c0-.8-.13-1.49-.4-2.1a4.18 4.18 0 00-1.16-1.51 5 5 0 00-1.76-.95 7.45 7.45 0 00-2.25-.33 6.33 6.33 0 00-4.35 1.74A6.12 6.12 0 001.15 7.2c0 .91.14 1.72.42 2.44a5 5 0 003.16 2.93 7.61 7.61 0 003.53.28c.39-.06.74-.17 1.05-.32l.32.98c-.47.2-.91.32-1.3.38a8.65 8.65 0 01-4.04-.32 6.04 6.04 0 01-3.73-3.36A7.18 7.18 0 010 7.3 7.05 7.05 0 014.53.52a8.06 8.06 0 015.46-.1 6 6 0 012.1 1.16 5.2 5.2 0 011.4 1.86 5.72 5.72 0 01.16 4.37 5.16 5.16 0 01-2.3 2.66c-.53.27-1.09.4-1.68.4-.44 0-.79-.1-1.05-.28-.26-.18-.4-.52-.4-1.03a2.87 2.87 0 01.07-.64h-.06a4.25 4.25 0 01-1.98 1.78c-.28.11-.57.17-.87.17-.25 0-.5-.05-.72-.16a1.77 1.77 0 01-.6-.47c-.17-.2-.3-.45-.41-.72-.1-.29-.14-.61-.14-.97a6.19 6.19 0 011.21-3.62c.38-.5.81-.89 1.3-1.18a3 3 0 011.6-.46c.38 0 .7.05.92.16.23.12.46.25.68.42l.53-.48zm-.9 1.5c-.17-.2-.35-.35-.53-.42a1.99 1.99 0 00-1.82.25c-.36.23-.67.55-.93.93a5.28 5.28 0 00-.84 2.7c0 .39.09.73.26 1.02.16.28.47.41.9.41.22 0 .43-.06.65-.2.23-.13.46-.3.68-.53A6.95 6.95 0 008.38 7.4l.48-2.5z"/><path d="M9.75 3.4h.54l-.8 4.4a5.47 5.47 0 00-.16 1.27c0 .26.04.45.12.57.1.11.26.17.48.17.35 0 .7-.1 1.05-.28.36-.18.67-.44.94-.78a4.61 4.61 0 00.93-2.82c0-.8-.13-1.49-.4-2.1a4.18 4.18 0 00-1.16-1.51 5 5 0 00-1.76-.95 7.45 7.45 0 00-2.25-.33 6.33 6.33 0 00-4.35 1.74A6.12 6.12 0 001.15 7.2c0 .91.14 1.72.42 2.44a5 5 0 003.16 2.93 7.61 7.61 0 003.53.28c.39-.06.74-.17 1.05-.32l.32.98c-.47.2-.91.32-1.3.38a8.65 8.65 0 01-4.04-.32 6.04 6.04 0 01-3.73-3.36A7.18 7.18 0 010 7.3 7.05 7.05 0 014.53.52a8.06 8.06 0 015.46-.1 6 6 0 012.1 1.16 5.2 5.2 0 011.4 1.86 5.72 5.72 0 01.16 4.37 5.16 5.16 0 01-2.3 2.66c-.53.27-1.09.4-1.68.4-.44 0-.79-.1-1.05-.28-.26-.18-.4-.52-.4-1.03a2.87 2.87 0 01.07-.64h-.06a4.25 4.25 0 01-1.98 1.78c-.28.11-.57.17-.87.17-.25 0-.5-.05-.72-.16a1.77 1.77 0 01-.6-.47c-.17-.2-.3-.45-.41-.72-.1-.29-.14-.61-.14-.97a6.19 6.19 0 011.21-3.62c.38-.5.81-.89 1.3-1.18a3 3 0 011.6-.46c.38 0 .7.05.92.16.23.12.46.25.68.42l.53-.48zm-.9 1.5c-.17-.2-.35-.35-.53-.42a1.99 1.99 0 00-1.82.25c-.36.23-.67.55-.93.93a5.28 5.28 0 00-.84 2.7c0 .39.09.73.26 1.02.16.28.47.41.9.41.22 0 .43-.06.65-.2.23-.13.46-.3.68-.53A6.95 6.95 0 008.38 7.4l.48-2.5z"/></svg>');

  .form__input {
    background-image: url("data:image/svg+xml, @{icon}");
  }
}

.auth__password {
  @icon: escape('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 14" fill="@{common-accentColor-primary}"><path fill-rule="evenodd" d="M9 6H2a1 1 0 00-1 1v5c0 .6.4 1 1 1h7c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1zM2 5a2 2 0 00-2 2v5c0 1.1.9 2 2 2h7a2 2 0 002-2V7a2 2 0 00-2-2H2z" /><path fill-rule="evenodd" d="M7 1H4a1 1 0 00-1 1v3h5V2c0-.6-.4-1-1-1zM4 0a2 2 0 00-2 2v4h7V2a2 2 0 00-2-2H4zM5.5 12a.5.5 0 01-.5-.5V9h1v2.5c0 .3-.2.5-.5.5z" /><path d="M7 8.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"/></svg>');

  .form__input {
    background-image: url("data:image/svg+xml, @{icon}");
    background-size: 11px 14px;
    background-position-x: 1px;
  }
}

.auth__captcha {
  .form__label {
    #common.text-middle();
  }

  .form__row {
    flex-wrap: nowrap;
  }

  .form__control {
    width: 50%;

    img {
      margin: auto;
    }
  }
}

.auth__action {
  .form__control {
    text-align: center;
  }

  .btn {
    min-width: 190px;
  }
}

.auth__next {
  margin-top: var(--common-indent-large);
  text-align: center;

  .btn {
    min-width: 190px;
  }
}
